.data-view-table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    color: #4F4F4F;
    font-size: 10pt !important;
    font-family: Tahoma, Verdana, Arial, Georgia, Geneva, Helvetica, sans-serif !important;
}
    .data-view-table tr th {
        font-weight: bold;
    }
    .data-view-table tr th.sortable-column {
        cursor: pointer;
        color: #0088cc;
    }
    .data-view-table tr:nth-child(even) {
        background: #F7F8FA;
    }
    .data-view-table tr.odd {
        background: #FFF;
    }
    .data-view-table th {
        background: #EBEBEB;
        color: #000;
        text-align: center !important;
    }
    .data-view-table td,
    .data-view-table th
    {
        border-right: 1px solid #CCC;
        padding: 2px 4px;
    }
    /* определение классов для заголовков отсортированных столбцов */
    .asc {
        
    }
    .desc {
        
    }

td.btn-column {
    width: 12px;
}

.button-view,
.button-delete,
.button-deactivate,
.button-update,
.button-printout
{
    padding: 0px;
    display: block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    float: left;
}
.button-view {
    background: transparent url(images/view.png) no-repeat;
}
.button-delete {
    background: transparent url(images/delete.png) no-repeat;
}
.button-deactivate {
    background: transparent url(images/deactivate.png) no-repeat;
}
.button-update {
    background: transparent url(images/update.png) no-repeat;
}
.button-printout {
    background: transparent url(images/printout.png) no-repeat;
}
.pager {
    margin-top: 12px;
}

.control {
    float: left;
    margin-right: 8px;
}
.control input {
    width: 66px;
}

.control select {
    max-width: 430px !important;
}
